body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(backgroundimg.jpg);
	background-size: cover;
	
   
   }
   .log-box{
	background: rgba(0,0,0,.5);
	color: #fff;
	width: 320px;
	height: 420px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	position: absolute;
	padding: 70px 30px;
   
   }

   .display-8{
	   font-size: xx-large;
	   font-family: cursive;
	   font-style: oblique;
   }

   .lead{
	   font-size: medium;
	   font-family: sans-serif;
   }

   .usrimg {
	width: 100px;
	height: 100px;
	border-radius: 20%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
   }
   h2{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
   }
   .log-box p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
   
   }
   .log-box input{
	width: 100%;
	margin-bottom: 20px;
   }
   .log-box input[type="email"],
   .log-box input[type="password"]
   {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
   }
   ::placeholder {
	color: rgba(255,255,255,.5);
   }
   .log-box input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 20px;
   }
   a{
	text-decoration: none;
	color: #fff;
   }
   