{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <br/>
      <div class="log-box">
        <img class="usrimg" src='static\css\icon.png' />
        <h1 class="display-8">Did you forget your password?</h1>
        <p class="lead">You can reset it below</p>
        <hr class="my-4">
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/forgot_password" method="post">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="name"  placeholder="Enter email">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form
     </div>

{% endblock %}
