

{% block content %}



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script type=text/javascript src="{{
        url_for('static', filename='css/jquery.min.js') }}"></script>
        <script type=text/javascript src="{{
            url_for('static', filename='css/app.js') }}"></script>

    <title>Dash-Board</title>
    	<div class="log-box">
		<main role="main" class="inner cover">
        	<form action="/home" method="post" enctype="multipart/form-data" class="form-control">
                <input type="file" name="file" class="random">
                <br>
                <br>
                <button class="btn-primary" type="submit">Upload</button>
            </form>
		</main>

		    <div id="success" style="color: white;"></div>

{% endblock %}